﻿
@model LibraryManagementSystem.Helpers.Page<LibraryManagementSystem.Models.Student>

@{
    ViewBag.Title = "PendingAccount";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="mt-2">PendingAccounts</h2>

@{
    if (TempData["ApproveStatus"] != null)
    {
        var msg = TempData["ApproveStatus"].ToString();
        <h5 style="color:forestgreen;margin:10px;"> @msg </h5>
    }
}

<table class="table table-dark table-hover shadow-sm mt-3">
    <tr>
        <th class="text-center" valign="middle">
            Enrollment No
        </th>
        <th class="text-center" valign="middle">
            Student Name
        </th>
        <th class="text-center" valign="middle">
            Action
        </th>
    </tr>

    @foreach (var item in Model.Items)
    {
        <tr>
            <td class="text-center" valign="middle">
                @Html.DisplayFor(modelItem => item.EnrollmentNo)
            </td>
            <td class="text-center" valign="middle">
                @Html.DisplayFor(modelItem => item.Name)
            </td>

            <td class="text-center" valign="middle">
                @Html.ActionLink("Approve", "Approve", "Admin", new { id = item.Id }, new { @class = "btn btn-success " })
            </td>
        </tr>
    }

    <tr>
        <td colspan="3" valign="middle">
            <ul class="pagination justify-content-end align-items-center m-0 my-2">

                @if (Model.HasPrev)
                {
                    <li class="page-item">
                        @Html.ActionLink("Previous", "pendingaccount", new { page = Model.currentPage - 1 }, new { @class = "page-link" })
                    </li>
                }
                else
                {
                    <li class="page-item disabled">
                        <a href="#" class="page-link">Prev</a>
                    </li>
                }

                <li class="page-item active">
                    <span class="page-link">@Model.currentPage</span>
                </li>

                @if (Model.HasNext)
                {
                    <li class="page-item">
                        @Html.ActionLink("Next", "pendingaccount", new { page = Model.currentPage + 1 }, new { @class = "page-link" })
                    </li>
                }
                else
                {
                    <li class="page-item disabled">
                        <a href="#" class="page-link">Next</a>
                    </li>
                }

            </ul>
        </td>
    </tr>

</table>

