﻿@model LibraryManagementSystem.Helpers.Page<LibraryManagementSystem.Models.BookStatus>
@{
    ViewBag.Title = "Requested Books";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<h2>Books Waiting For Approval</h2>

<hr />

<div class="filter-books">
    <form method="get" class="row g-3 align-items-center">
        <div class="col-auto">
            <input type="text" placeholder="Student ID" name="studentId" class="form-control" />
        </div>
        <div class="col-auto">
            <input type="text" placeholder="Book Name" name="bookName" class="form-control" />
        </div>
        <div class="col-auto ms-auto">
            <button type="submit" class="btn btn-primary btn-lg"> Filter</button>
        </div>
    </form>
</div>

<table class="table table-dark table-hover shadow-sm">

    <thead>
        <tr>
            <th width="25%" class="text-center">Enrollment No</th>
            <th width="25%" class="text-center">Book name</th>
            <th width="15%" class="text-center">Order date</th>
            <th width="15%" class="text-center">Return date</th>
            <th width="10%" class="text-center"></th>
            <th width="10%" class="text-center"></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var book in Model.Items)
        {
            <tr>
                <td class="text-center" valign="middle">@Html.DisplayFor(modelItem => book.StudentId.EnrollmentNo)</td>
                <td class="text-center" valign="middle">@Html.DisplayFor(modelItem => book.BookId.Name)</td>
                <td class="text-center" valign="middle">@Html.DisplayFor(modelItem => book.OrderedDate)</td>
                <td class="text-center" valign="middle">@Html.DisplayFor(modelItem => book.ReturnedDate)</td>
                <td valign="middle">
                    @using (Html.BeginForm("ApproveBook", "admin", new { id = book.Id }))
                    {
                        @Html.AntiForgeryToken()
                        <button class="btn btn-sm btn-success w-100" type="submit">Approve</button>
                    }
                </td>
                <td valign="middle">
                    @using (Html.BeginForm("rejectBook", "admin", new { id = book.Id }))
                    {
                        @Html.AntiForgeryToken()
                        <button class="btn btn-sm btn-danger w-100" type="submit">Reject</button>
                    }
                </td>
            </tr>
        }
    </tbody>

    <tfoot>
        <tr>
            <td colspan="6" valign="middle">
                <ul class="pagination justify-content-end align-items-center m-0 my-2">

                    @if (Model.HasPrev)
                    {
                        <li class="page-item">
                            @Html.ActionLink("Previous", "issueBook", new { page = Model.currentPage - 1 }, new { @class = "page-link" })
                        </li>
                    }
                    else
                    {
                        <li class="page-item disabled">
                            <a href="#" class="page-link">Prev</a>
                        </li>
                    }

                    <li class="page-item active">
                        <span class="page-link">@Model.currentPage</span>
                    </li>

                    @if (Model.HasNext)
                    {
                        <li class="page-item">
                            @Html.ActionLink("Next", "issueBook", new { page = Model.currentPage + 1 }, new { @class = "page-link" })
                        </li>
                    }
                    else
                    {
                        <li class="page-item disabled">
                            <a href="#" class="page-link">Next</a>
                        </li>
                    }

                </ul>
            </td>
        </tr>
    </tfoot>

</table>