﻿@model LibraryManagementSystem.Models.BookStatus
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Return Book";
}

<h2>Return Book - @Model.BookId.Name</h2>

<hr />

<div class="row">
    <div class="col-md-6">
        <div class="mb-3">
            @Html.LabelFor(model => model.StudentId.Name, new { @class = "form-label" })
            @Html.EditorFor(model => model.StudentId.Name, new { htmlAttributes = new { @class = "form-control", @readonly = true } })
        </div>

        <div class="mb-3">
            @Html.LabelFor(model => model.BookId.Name, new { @class = "form-label" })
            @Html.EditorFor(model => model.BookId.Name, new { htmlAttributes = new { @class = "form-control", @readonly = true } })
        </div>

        <div class="mb-3">
            @Html.LabelFor(model => model.IssuedDate, new { @class = "form-label" })
            @Html.EditorFor(model => model.IssuedDate, new { htmlAttributes = new { @class = "form-control", @readonly = true } })
        </div>

        <div class="mb-3">
            @Html.LabelFor(model => model.ReturnedDate, new { @class = "form-label" })
            @Html.EditorFor(model => model.ReturnedDate, new { htmlAttributes = new { @class = "form-control", @readonly = true } })
        </div>

        @using (Html.BeginForm("ApproveReturnBook", "admin", new { id = Model.Id }))
        {
            @Html.AntiForgeryToken()

            <div class="d-grid mt-2">
                @if (TempData["MessageStatus"].ToString() == "success")
                {
                    <button type="submit" class="btn btn-success">Approve</button>
                }
                else
                {
                    <button type="submit" class="btn btn-danger">Fine Collected</button>
                }
            </div>
        }
    </div>
</div>
