﻿@model LibraryManagementSystem.Models.LoginModel

@{
    ViewBag.Title = "Login";
}

<h2 class="mt-2">Login</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">

    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="mb-3">
        @Html.LabelFor(model => model.UserName, htmlAttributes: new { @class = "form-label col-md-2" })
        <div class="col-md-6">
            @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="mb-3">
        @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "form-label col-md-2" })
        <div class="col-md-6">
            @Html.PasswordFor(model => model.Password, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="mb-3">
        <div class="col-md-10">

            @{
                var msg = "";
                if (TempData["Errormsg"] != null)
                {
                    msg = @TempData["Errormsg"].ToString();

                    <p style="color:red;margin:10px;">
                        @msg
                    </p>
                    }
                }
        </div>
     </div>
    <div class="mb-3">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Login" class="btn btn-primary" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Go to Signup", "Signup","Account", new { @class = "link-primary" })
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
