﻿@model LibraryManagementSystem.Models.Book

@{
    ViewBag.Title = "Add Book";
}

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h3 class="mt-2">Add Book</h3>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="mb-3 mt-2">
        @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "form-label col-md-2" })
        <div class="col-md-6">
            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="mb-3 mt-2">
        @Html.LabelFor(model => model.Author, htmlAttributes: new { @class = "form-label col-md-2" })
        <div class="col-md-6">
            @Html.EditorFor(model => model.Author, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Author, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="mb-3 mt-2">
        @Html.LabelFor(model => model.Quantity, htmlAttributes: new { @class = "form-label col-md-2" })
        <div class="col-md-6">
            @Html.EditorFor(model => model.Quantity, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Quantity, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="mb-3 mt-2">
        @Html.LabelFor(model => model.Category, htmlAttributes: new { @class = "form-label col-md-2" })
        <div class="col-md-6">
            @Html.DropDownList("category", (IEnumerable<SelectListItem>)TempData["category_options"], new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Category, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="mb-3 mt-2">
        <div class="col-md-offset-2 col-md-6">
            <input type="submit" value="Add" class="btn btn-default btn-success" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index", "Book", new { @class = "link-primary" })
</div>
