﻿@model LibraryManagementSystem.Helpers.Page<LibraryManagementSystem.Models.Book>

@{
    ViewBag.Title = "Books";
}

<h3 class="mt-2">Books</h3>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="input-group my-3">
        <select class="form-control rounded" name="option" id="option">
            @{
                if (Convert.ToInt32(TempData["option"]) == 1)
                {
                    <option value="1" selected>Name</option>
                    <option value="2">Author</option>
                    <option value="3">Category</option>
                }
                else if (Convert.ToInt32(TempData["option"]) == 2)
                {
                    <option value="1">Name</option>
                    <option value="2" selected>Author</option>
                    <option value="3">Category</option>
                }
                else if (Convert.ToInt32(TempData["option"]) == 3)
                {
                    <option value="1">Name</option>
                    <option value="2">Author</option>
                    <option value="3" selected>Category</option>
                }
                else
                {
                    <option value="0" selected>Select Option</option>
                    <option value="1">Name</option>
                    <option value="2">Author</option>
                    <option value="3">Category</option>
                }

            }
        </select>
        <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" id="search" name="search" value='@TempData["Search"]' />
        <button type="submit" class="btn btn-dark">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"></path>
            </svg>
        </button>
    </div>
}

<table class="table table-dark table-hover shadow-sm">
    <tr>
        <th class="text-center" valign="middle">
            Book Name
        </th>
        <th class="text-center" valign="middle">
            Author Name
        </th>
        <th class="text-center" valign="middle">
            Book Quantity
        </th>
        <th class="text-center" valign="middle">
            Book Category
        </th>
        <th class="text-center" valign="middle">

        </th>
    </tr>

    @foreach (var item in Model.Items)
    {
        <tr>
            <td class="text-center" valign="middle">
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td class="text-center" valign="middle">
                @Html.DisplayFor(modelItem => item.Author)
            </td>
            <td class="text-center" valign="middle">
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td class="text-center" valign="middle">
                @Html.DisplayFor(modelItem => item.Category.CategoryName)
            </td>
            <td class="text-center" valign="middle">
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn btn-primary" })
                @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "btn btn-danger" })
            </td>
        </tr>
    }
    <tr>
        <td colspan="5" valign="middle">
            <ul class="pagination justify-content-end align-items-center m-0 my-2">

                @if (Model.HasPrev)
                {
                    <li class="page-item">
                        @Html.ActionLink("Previous", "index", new { page = Model.currentPage - 1 }, new { @class = "page-link" })
                    </li>
                }
                else
                {
                    <li class="page-item disabled">
                        <a href="#" class="page-link">Prev</a>
                    </li>
                }

                <li class="page-item active">
                    <span class="page-link">@Model.currentPage</span>
                </li>

                @if (Model.HasNext)
                {
                    <li class="page-item">
                        @Html.ActionLink("Next", "index", new { page = Model.currentPage + 1 }, new { @class = "page-link" })
                    </li>
                }
                else
                {
                    <li class="page-item disabled">
                        <a href="#" class="page-link">Next</a>
                    </li>
                }

            </ul>
        </td>
    </tr>

</table>
