﻿@model LibraryManagementSystem.Helpers.Page<LibraryManagementSystem.Models.BookStatus>
@{
    ViewBag.Title = "Rejected Books";
}


<h2>Returned Book</h2>
<hr />
<table class="table table-dark table-hover shadow-sm">
    <tr>
        <th class="text-center" valign="middle">
            Book Name
        </th>
        <th class="text-center" valign="middle">
            Book Author
        </th>
        <th class="text-center" valign="middle">
            Book Category
        </th>
        <th class="text-center" valign="middle">
            Book Status
        </th>
        <th class="text-center" valign="middle">
            Order Date
        </th>
        <th class="text-center" valign="middle">
            Issue Date
        </th>
        <th class="text-center" valign="middle">
            Return Date
        </th>
    </tr>

    @foreach (var item in Model.Items)
    {
        <tr>
            <td class="text-center" valign="middle">
                @Html.DisplayFor(modelItem => item.BookId.Name)
            </td>
            <td class="text-center" valign="middle">
                @Html.DisplayFor(modelItem => item.BookId.Author)
            </td>
            <td class="text-center" valign="middle">
                @Html.DisplayFor(modelItem => item.BookId.Category.CategoryName)
            </td>
            <td class="text-center" valign="middle">
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td class="text-center" valign="middle">
                @Html.DisplayFor(modelItem => item.OrderedDate)
            </td>
            <td class="text-center" valign="middle">
                @Html.DisplayFor(modelItem => item.IssuedDate)
            </td>
            <td class="text-center" valign="middle">
                @Html.DisplayFor(modelItem => item.ReturnedDate)
            </td>

        </tr>
    }

    <tr>
        <td colspan="7" valign="middle">
            <ul class="pagination justify-content-end align-items-center m-0 my-2">

                @if (Model.HasPrev)
                {
                    <li class="page-item">
                        @Html.ActionLink("Previous", "showreturnbook", new { page = Model.currentPage - 1 }, new { @class = "page-link" })
                    </li>
                }
                else
                {
                    <li class="page-item disabled">
                        <a href="#" class="page-link">Prev</a>
                    </li>
                }

                <li class="page-item active">
                    <span class="page-link">@Model.currentPage</span>
                </li>

                @if (Model.HasNext)
                {
                    <li class="page-item">
                        @Html.ActionLink("Next", "showreturnbook", new { page = Model.currentPage + 1 }, new { @class = "page-link" })
                    </li>
                }
                else
                {
                    <li class="page-item disabled">
                        <a href="#" class="page-link">Next</a>
                    </li>
                }

            </ul>
        </td>
    </tr>

</table>
