﻿@{
    bool isLoggedIn = true;
    if (string.IsNullOrWhiteSpace(User.Identity.Name))
    {
        isLoggedIn = false;
    }
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Library Management System</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    @{
        if (Session["admin"] == null && Session["student"] == null)
        {
            @Html.Partial("NavbarHome")
        }
        else if (Session["student"] != null && Session["admin"] == null)
        {
            @Html.Partial("NavbarStudent")
        }
        else if (Session["student"] == null && Session["admin"] != null)
        {
            @Html.Partial("NavbarAdmin")
        }
    }


    <div class="container">
        @if (!String.IsNullOrEmpty(TempData["Message"]?.ToString()))
        {
            <div class="alert alert-@TempData["MessageStatus"] d-flex align-items-center" role="alert">
                @Html.Raw(TempData["Message"])
            </div>
        }
    </div>


    <div class="container body-content">
        @RenderBody()
    </div>

    <hr />

    <footer>
        <p style="text-align:center;">&copy; @DateTime.Now.Year - Library Management System</p>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
