﻿<nav class="navbar navbar-dark bg-dark">
    <div class="container">
        <h1><a class="navbar-brand" href="/">Library Management System</a></h1>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" href="/Account/signup">Sign-Up</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/Account/login">Sign-In</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
