.wrapper {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#navbar{
    margin-bottom: 24px;
}


body{
    margin:0px;
    padding:0px;
}

.body-content {
    height: calc(100vh - 145px);
}

.filter-books {
    margin: 12px 0;
}
a{
    text-decoration:none;
    color:black;
}
.nav-item{
    padding:10px;
}
a:hover{
    color:white;
}

#navbarSupportedContent{
    /*background-color:#6c757d;*/
}

